/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

:root {
  /* --sparking-bg-light-color: #faf8f7; */
  --sparking-bg-light-color: #faf8f7;
  --sparking-bg-light-secondary-color: #f9f4f1;
  --sparking-bg-dark-color: #191919;
  --sparking-bg-dark-secondary-color: #262626;
}

.ios body {
  --ion-background-color: var(--sparking-bg-light-color);
}

.ios.dark body {
  --ion-background-color: var(--sparking-bg-dark-color);
}

.ios ion-modal {
  --ion-background-color: var(--sparking-bg-light-color);
  --ion-toolbar-background: var(--sparking-bg-light-color);
  --ion-toolbar-border-color: var(--sparking-bg-light-color);
}
.ios ion-modal.dark {
  --ion-background-color: var(--sparking-bg-dark-color);
  --ion-toolbar-background: var(--sparking-bg-dark-color);
  --ion-toolbar-border-color: var(--sparking-bg-dark-color);
}
.ios ion-toolbar {
  --ion-toolbar-background: transparent;
  --ion-toolbar-border-color: transparent;
}

.ios ion-menu {
  --ion-background-color: var(--sparking-bg-light-secondary-color);
}

.ios.dark ion-menu {
  --ion-background-color: var(--sparking-bg-dark-secondary-color);
}

.split-pane-visible > ion-menu {
  max-width: 200px !important;
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
