/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

:root {
  --sparking-bg-light-color: #f6f7fb;
  --sparking-bg-dark-color: #f6f7fb;
  --ion-background-color: var(--sparking-bg-light-color);
}

.ios.dark body {
  --ion-background-color: var(--sparking-bg-dark-color);
}

.ios ion-modal.dark {
  --ion-background-color: var(--sparking-bg-dark-color);
  --ion-toolbar-background: var(--sparking-bg-dark-color);
  --ion-toolbar-border-color: var(--sparking-bg-dark-color);
}

.ios ion-modal {
  --ion-background-color: var(--sparking-bg-light-color);
  --ion-toolbar-background: var(--sparking-bg-light-color);
  --ion-toolbar-border-color: var(--sparking-bg-light-color);
}

ion-menu {
  --ion-background-color: #faf8f7;
  ion-toolbar {
    --background: var(--ion-background-color);
  }
  ion-list {
    background: transparent;
  }
}

.split-pane-visible > ion-menu {
  max-width: 200px !important;
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
